* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Source Code Pro", monospace;

  --gray: #536878;
  --pearl: #EAE0C8;
  --yellow: #f0c45f;
  --green: #7fb84b;
}

body {
  display: flex;
  align-items: start;
  justify-content: center;

  padding: 1rem;
  background-color: var(--gray);
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 3rem;
    color: var(--pearl);
  }

  .inputBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .inputTermo {
    text-align: center;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--pearl);
    color: var(--gray);
    box-shadow: 10px 10px  rgba(0, 0, 0, 0.3);
  }

  .inputTermo:focus {
    outline: none;
  }
}

.tryContainer {
  margin: 1.5rem;
  color: var(--gray);

  .letterSpan {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  }
}
